//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define Base        0
#define Nav         1
#define Sym         2
#define Fun         3
#define Game        4
#define Gameplus    5

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };
    };

    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        Gaming {
            display-name = "Game";
            bindings = <
              &kp TAB         &kp PLUS  &kp N2  &kp N3        &mt LS(N5) N4    &trans  &trans  &trans  &trans  &trans
              &kp LEFT_SHIFT  &kp Q     &kp W   &kp E         &kp R            &trans  &trans  &trans  &trans  &trans
&lt 1 ESCAPE  &kp LCTRL       &kp A     &kp S   &kp D         &kp F            &trans  &trans  &trans  &trans  &trans  &trans
                                        &kp X   &kp LEFT_ALT  &kp SPACE        &trans  &trans  &trans
            >;
        };

        Gaming+ {
            display-name = "Game+";
            bindings = <
            &kp F10    &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp T             &kp RA(RC(Y))  &kp RA(RC(U))  &trans  &trans  &kp LC(RA(DEL))
            &kp L      &kp O         &kp Y         &kp K         &kp G             &kp F5         &kp F7         &trans  &trans  &kp F12
&kp ESCAPE  &kp LCTRL  &trans        &trans        &lt 0 X       &studio_unlock    &trans         &trans         &trans  &trans  &kp F22          &kp LA(F4)
                                     &kp X         &kp LEFT_ALT  &kp SPACE         &trans         &trans         &trans
            >;
        };
    };
};
